
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F93336E5/sources/session-3cf082bc/lock_file
.Rproj.user/F93336E5/sources/session-3cf082bc/F5ECC368-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/E562B5CF-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/E3708CEB-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/CB1422D1-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/C91722BD-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/C18CDE5F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/B6EABD54-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/9A7BA98F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/9999289B-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/5C892EC4-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/513E8B82-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/50781614-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/2C82223F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/14F98A02-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/12218FAA-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/12218FAA
.Rproj.user/F93336E5/sources/session-3cf082bc/04755C41-contents
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/sources/prop/129A34A1
