
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F93336E5/sources/session-3cf082bc/lock_file
.Rproj.user/F93336E5/sources/session-3cf082bc/F5ECC368-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/E562B5CF-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/E3708CEB-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/CB1422D1-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/C91722BD-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/C18CDE5F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/B6EABD54-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/9A7BA98F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/9999289B-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/5C892EC4-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/513E8B82-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/50781614-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/2C82223F-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/14F98A02-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/12218FAA-contents
.Rproj.user/F93336E5/sources/session-3cf082bc/12218FAA
.Rproj.user/F93336E5/sources/session-3cf082bc/04755C41-contents
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/sources/prop/129A34A1
.Rproj.user/F93336E5/sources/session-1d050ef/lock_file
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/